:root {
  background-color: darkgoldenrod;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}

#content {
  border: solid brown;
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding: 20px;
}
